/*
Name: 
Date: 
*/
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
:root{
    --main-bg-colour: #05445e;
    --sec-bg-colour: ;
    --main-colour: #d4f1f4;
    --sec-colour: #75e6da;
}

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "footer footer footer";
    grid-gap: 5px;
    background-color: #000099;
}

.container > div{ /*DO NOT REMOVE*/
    padding: 10px;
}

.header{ /*DO NOT REMOVE*/
    grid-area: header;
    background-color:  #000;
    color: var(--main-colour);
    text-align: center;
}

.main{ /*DO NOT REMOVE*/
    grid-area: main;
    background-color: #000099;
    color: var(--main-colour);

}

.side1{ /*DO NOT REMOVE*/
    grid-area: side1;
    color:#ffffff;
    background-color:  #000099;
}

.side2{ /*DO NOT REMOVE*/
    grid-area: side2;
    background-color:black);
}

.section1{ /*DO NOT REMOVE*/
    grid-area: section1;
    color:#ffffff;
    font-family: 'Benne', serif;
    text-align: center;
}

.section2{ /*DO NOT REMOVE*/
    grid-area: section2;
    color:#ffffff;
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: videoSection;
    text-align: center;
}

.footer{ /*DO NOT REMOVE*/
    grid-area: footer;
    background-color:   #000000;
    color:#ffffff; ;
}
